{
    margin: 0;
    padding: 0;
}
.container {
    border: solid black;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}